*, a, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: relative;
  width: 100%;
  height: 400px;
}
@media (min-width: 1000px) {
  header {
    height: 600px;
  }
}
header video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
header .header-text {
  position: absolute;
  top: 20px;
  color: #fff;
}
@media (min-width: 1000px) {
  header .header-text {
    top: 100px;
    left: 50px;
  }
}
header .header-text .logo {
  color: #fff;
  font-size: 20px;
}
header .header-text .logo i {
  padding-right: 10px;
}
header .header-text p {
  margin: 60px 0 0 0;
  line-height: 35px;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}
header .header-text h1 {
  margin: -50px 0 30px 0;
}
header .header-text .btn-primary {
  width: 150px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}
header .header-text .btn-primary:hover {
  background-color: #fff;
  color: #000;
}
header .svg {
  width: 100%;
  position: absolute;
  bottom: -10px;
  color: #fff;
}

main .btn-theme {
  z-index: 10;
  cursor: pointer;
  background-color: rgba(175, 211, 222, 0.49);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 50px;
}
main .about-platform {
  max-width: 1050px;
  text-align: center;
  margin: 50px auto;
}
main .about-platform h2 {
  font-size: 30px;
}
main .about-platform h3 {
  font-size: 25px;
  margin: 40px 0 40px 0;
}
main .about-platform .computer-img {
  margin-top: 20px;
  width: 350px;
}
main .about-platform p {
  font-size: 20px;
}
main .platform-values {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .platform-values h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
main .platform-values .cards .card {
  max-width: 350px;
  margin: 0 auto;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  border-radius: 9px;
}
main .platform-values .cards .card img {
  width: 150px;
  height: 150px;
  margin: 40px auto 40px auto;
  border-radius: 50%;
  box-shadow: 7px 7px 5px grey;
}
main .platform-values .cards .card h3 {
  margin-top: 20px;
  letter-spacing: 3px;
  font-family: "Coda Caption", sans-serif;
}
main .platform-values .cards .card h3 font {
  size: 23px;
  weight: bold;
}
main .platform-values .cards .card p {
  width: 90%;
  margin: 0 auto 0 auto;
  line-height: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
main .newsletter {
  width: 100%;
  background-color: rgba(175, 211, 222, 0.49);
  text-align: center;
  margin: 70px 0 50px 0;
  padding: 50px 0;
}
main .newsletter h2 {
  margin-bottom: 30px;
  font-size: 30px;
}
main .newsletter form {
  width: 100%;
}
main .newsletter form input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #22C7EB;
}
main .newsletter form input[type=submit] {
  background-color: #22C7EB;
  color: #fff;
}
main .newsletter form input[type=email] {
  width: 65%;
  max-width: 500px;
}
main .developer {
  max-width: 1050px;
  margin: 0 auto;
}
main .developer h2 {
  font-size: 30px;
}
main .developer .developer-img {
  position: relative;
  margin: 30px 0;
}
main .developer .developer-img img {
  width: 250px;
  border-radius: 50%;
  position: absolute;
}
main .developer .developer-img .blob {
  width: 270px;
  height: 270px;
  background-image: linear-gradient(45deg, rgba(175, 211, 222, 0.49) 0%, rgba(175, 211, 222, 0.49) 100%);
  animation: morpheus 10s linear infinite;
}
@keyframes morpheus {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  20% {
    border-radius: 60% 40% 40% 60%/60% 25% 75% 40%;
  }
  40% {
    border-radius: 70% 30% 65% 35%/80% 45% 55% 20%;
  }
  60% {
    border-radius: 30% 70% 70% 30%/20% 30% 70% 80%;
  }
  80% {
    border-radius: 40% 60% 40% 60%/70% 55% 45% 30%;
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}
main .developer p {
  font-size: 20px;
  text-align: center;
}

footer {
  margin: 50px 0 -30px 0;
  padding: 50px 0 0 0;
  background-color: rgba(175, 211, 222, 0.49);
  text-align: center;
}
footer h2 {
  margin-bottom: 30px;
}
footer .contact {
  max-width: 1050px;
  margin: 0 auto;
}
footer .contact .icon {
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
footer .contact .icon i {
  font-size: 40px;
}
footer .contact p span {
  font-weight: bold;
}
footer .contact-form {
  margin-top: 50px;
}
footer .contact-form .form-control {
  background-color: transparent;
  margin-bottom: 10px;
  border-width: 3px;
}
footer .contact-form h3 {
  margin-bottom: 50px;
}
footer .contact-form form {
  margin-top: 30px;
}
footer hr {
  width: 90%;
  max-width: 700px;
  margin: 30px auto;
}
footer .copyright {
  padding: 30px 0;
  opacity: 0.5;
}

.privacy-policies {
  text-align: center;
  margin-top: 50px;
}
.privacy-policies p {
  font-size: 20px;
  margin-top: 30px;
}

.dark-mode {
  background-color: #212124;
  color: #fff;
}
.dark-mode svg {
  color: #212124;
}
.dark-mode .cards .card {
  background-color: rgba(175, 211, 222, 0.49);
}
.dark-mode main .btn-theme {
  color: #fff;
}
.dark-mode footer input[type=submit], .dark-mode footer .form-control::placeholder {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
