@import "vars";
@import "responsive";

*, a, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    position: relative;
    width: 100%;
    height: 400px;
    @include desktop{
        height: 600px;
    }
    video{
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: brightness(50%);
    }
    .header-text{
        position: absolute;
        top: 20px;
        color: $primary-color;
        @include desktop{
            top: 100px;
            left: 50px;
        }
        .logo{
            color: $primary-color;
            font-size: 20px;
            i{
                padding-right: 10px;
            }
        }
        p{
            margin: 60px 0 0 0;
            line-height: 35px;
            font-family: 'Dancing Script', cursive;
            font-size: 25px;
        }
        h1{
            margin: -50px 0 30px 0;
        }
        .btn-primary{
            width: 150px;
            color: $primary-color;
            border: 2px solid $primary-color;
            background-color: transparent;
            &:hover{
                background-color: $primary-color;
                color: #000;
            }
        }
    }
    .svg{
        width: 100%;
        position: absolute;
        bottom: -10px;
        color: #fff;
    }
}

main{
    // ============================
    //        Platform About
    // ============================
    .btn-theme{
        z-index: 10;
        cursor: pointer;
        background-color: $secundary-color;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 50px;
    }
    .about-platform{
        max-width: 1050px;
        text-align: center;
        margin: 50px auto;
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 25px;
            margin: 40px 0 40px 0;
        }
        .computer-img{
            margin-top: 20px;
            width: 350px;
        }
        p{
            font-size: 20px;
        }
    }
    // ============================
    //        Platform Values
    // ============================
    .platform-values{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .cards{
            .card{
                max-width: 350px;
                margin: 0 auto;
                height: 550px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                text-align: center;
                letter-spacing: 2px;
                word-spacing: 2px;
                border-radius: 9px;
                img{
                    width: 150px;
                    height: 150px;
                    margin: 40px auto 40px auto;
                    border-radius: 50%;
                    box-shadow: 7px 7px 5px grey; 
                }
                h3{
                    margin-top: 20px;
                    font{
                        size: 23px;
                        weight: bold;
                    }
                    letter-spacing: 3px;
                    font-family: 'Coda Caption', sans-serif;
                }
                p{
                    width: 90%;
                    margin: 0 auto 0 auto;
                    line-height: 30px;
                    letter-spacing: 2px;
                    word-spacing: 2px;
                }
            }
        }
    }
    // ============================
    //        Newsletter
    // ============================
    .newsletter{
        width: 100%;
        background-color: $secundary-color;
        text-align: center;
        margin: 70px 0 50px 0;
        padding: 50px 0;
        h2{
            margin-bottom: 30px;
            font-size: 30px;
        }
        form{
            width: 100%;
            input{
                padding: 10px;
                border-radius: 5px;
                border: 2px solid #22C7EB;
            }
            input[type="submit"]{
                background-color: #22C7EB;
                color: #fff;
            }
            input[type="email"]{
                width: 65%;
                max-width: 500px;
            }
        }
    }
    // ============================
    //        Developer
    // ============================
    .developer{
        max-width: 1050px;
        margin: 0 auto;
        h2{
            font-size: 30px;
        }
        .developer-img{
            position: relative;
            margin: 30px 0;
            img{
                width: 250px;
                border-radius: 50%;
                position: absolute;
            }
            .blob{
                width: 270px;
                height: 270px;
                background-image: linear-gradient(45deg, $secundary-color 0%, $secundary-color 100%);
                animation: morpheus 10s linear infinite;
            }
            @keyframes morpheus{
                0% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
                20% { border-radius: 60% 40% 40% 60% / 60% 25% 75% 40%; }
                40% { border-radius: 70% 30% 65% 35% / 80% 45% 55% 20%; }
                60% { border-radius: 30% 70% 70% 30% / 20% 30% 70% 80%; }
                80% { border-radius: 40% 60% 40% 60% / 70% 55% 45% 30%; }
                100% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
            }
        }
        p{
            font-size: 20px;
            text-align: center;
        }
    }
}

footer{
    margin: 50px 0 -30px 0;
    padding: 50px 0 0 0;
    background-color: $secundary-color;
    text-align: center;
    h2{
        margin-bottom: 30px;
    }
    .contact{
        max-width: 1050px;
        margin: 0 auto;
        .icon{
            width: 70px;
            height: 70px;
            border: 1px solid grey;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            i{
                font-size: 40px;
            }
        }
        p{
            span{
                font-weight: bold;
            }
        }
    }
    .contact-form{
        margin-top: 50px;
        .form-control{
            background-color: transparent;
            margin-bottom: 10px;
            border-width: 3px;
        }
        h3{
            margin-bottom: 50px;
        }
        form{
            margin-top: 30px;
        }
    }
    hr{
        width: 90%;
        max-width: 700px;
        margin: 30px auto;
    }
    .copyright{
        padding: 30px 0;
        opacity: .5;
    }
}

// ============================
//        Policy Privacies
// ============================
.privacy-policies{
    text-align: center;
    margin-top: 50px;
    p{
        font-size: 20px;
        margin-top: 30px;
    }
}

// ============================
//        Dark Mode
// ============================
.dark-mode{
    background-color: $dark_mode-primary-color;
    color: $primary-color;
    svg{
        color: $dark_mode-primary-color;
    }
    .cards{
        .card{
            background-color: $secundary-color;
        }
    }
    main{
        .btn-theme{
            color: $primary-color;
        }
    }
    footer{
        %color{
            color: $primary-color;
        }
        .form-control::placeholder{
            @extend %color;
        }
        input[type="submit"]{
            @extend %color;
        }
    }
}
