@import "vars";
@import "responsive";

*, a, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.beginning-header{
    position: relative;
    width: 100%;
    height: 400px;
    @include desktop{
        height: 600px;
    }
    video{
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: brightness(50%);
    }
    .header-text{
        z-index: 5;
        position: absolute;
        top: 20px;
        color: $primary-color;
        @include desktop{
            top: 100px;
            left: 50px;
        }
        .logo{
            color: $primary-color;
            font-size: 20px;
            i{
                padding-right: 10px;
            }
        }
        p{
            margin: 60px 0 0 0;
            line-height: 35px;
            font-family: 'Dancing Script', cursive;
            font-size: 25px;
        }
        h1{
            margin: -50px 0 30px 0;
        }
        .btn-primary{
            width: 150px;
            color: $primary-color;
            border: 2px solid $primary-color;
            background-color: transparent;
            &:hover{
                background-color: $primary-color;
                color: #000;
            }
        }
    }
    .svg{
        width: 100%;
        position: absolute;
        bottom: -10px;
        color: $primary-color;
    }
}

main{
    .cookies-alert{
        display: none;
        width: 95%;
        max-width: 500px;
        background-color: $primary-color;
        padding: 40px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        position: fixed;;
        z-index: 11;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        p{
            font-size: 20px
        }
        button{
            margin-right: 10px;
        }
    }
    .btn-theme{
        z-index: 10;
        cursor: pointer;
        background-color: $secundary-color;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 40px;
    }
    // ============================
    //        Platform About
    // ============================
    .about-platform{
        max-width: 1050px;
        text-align: center;
        margin: 50px auto;
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 25px;
            margin: 40px 0 40px 0;
        }
        .computer-img{
            margin-top: 20px;
            width: 350px;
        }
        p{
            font-size: 20px;
        }
    }
    // ============================
    //        Platform Values
    // ============================
    .platform-values{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .cards{
            .card{
                max-width: 350px;
                margin: 0 auto;
                height: 550px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                text-align: center;
                letter-spacing: 2px;
                word-spacing: 2px;
                border-radius: 9px;
                img{
                    width: 150px;
                    height: 150px;
                    margin: 40px auto 40px auto;
                    border-radius: 50%;
                    box-shadow: 7px 7px 5px grey; 
                }
                h3{
                    margin-top: 20px;
                    font{
                        size: 23px;
                        weight: bold;
                    }
                    letter-spacing: 3px;
                    font-family: 'Coda Caption', sans-serif;
                }
                p{
                    width: 90%;
                    margin: 0 auto 0 auto;
                    line-height: 30px;
                    letter-spacing: 2px;
                    word-spacing: 2px;
                }
            }
        }
    }
    // ============================
    //        Newsletter
    // ============================
    .newsletter{
        width: 100%;
        background-color: $secundary-color;
        text-align: center;
        margin: 70px 0 50px 0;
        padding: 50px 0;
        h2{
            margin-bottom: 30px;
            font-size: 30px;
        }
        form{
            width: 100%;
            input{
                padding: 10px;
                border-radius: 5px;
                border: 2px solid #22C7EB;
            }
            input[type="submit"]{
                background-color: #22C7EB;
                color: #fff;
            }
            input[type="email"]{
                width: 65%;
                max-width: 500px;
            }
        }
    }
    // ============================
    //        Developer
    // ============================
    .developer{
        max-width: 1050px;
        margin: 0 auto;
        h2{
            font-size: 30px;
        }
        .developer-img{
            position: relative;
            margin: 30px 0;
            img{
                width: 250px;
                border-radius: 50%;
                position: absolute;
            }
            .blob{
                width: 270px;
                height: 270px;
                background-image: linear-gradient(45deg, $secundary-color 0%, $secundary-color 100%);
                animation: morpheus 10s linear infinite;
            }
            @keyframes morpheus{
                0% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
                20% { border-radius: 60% 40% 40% 60% / 60% 25% 75% 40%; }
                40% { border-radius: 70% 30% 65% 35% / 80% 45% 55% 20%; }
                60% { border-radius: 30% 70% 70% 30% / 20% 30% 70% 80%; }
                80% { border-radius: 40% 60% 40% 60% / 70% 55% 45% 30%; }
                100% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
            }
        }
        p{
            font-size: 20px;
            text-align: center;
        }
    }
}

footer{
    margin: 50px 0 -30px 0;
    padding: 50px 0 0 0;
    background-color: $secundary-color;
    text-align: center;
    h2{
        margin-bottom: 30px;
    }
    .contact{
        max-width: 1050px;
        margin: 0 auto;
        .icon{
            width: 70px;
            height: 70px;
            border: 1px solid grey;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            i{
                font-size: 40px;
            }
        }
        p{
            span{
                font-weight: bold;
            }
        }
    }
    .contact-form{
        margin-top: 50px;
        .form-control{
            background-color: transparent;
            margin-bottom: 10px;
            border-width: 3px;
        }
        h3{
            margin-bottom: 50px;
        }
        form{
            margin-top: 30px;
        }
    }
    hr{
        width: 90%;
        max-width: 700px;
        margin: 30px auto;
    }
    .copyright{
        padding: 30px 0;
        opacity: .5;
    }
}

// ============================
//        Policy Privacies
// ============================
.privacy-policies{
    text-align: center;
    margin-top: 50px;
    p{
        font-size: 20px;
        margin-top: 30px;
    }
    a{
        @extend p;
    }
}

// ============================
//        Login
// ============================
.login{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    display: flex;
    align-items: center;
    justify-content: center;
    &-contents{
        text-align: center;
        display: flex;
        align-items: center;
        max-width: 1000px;
        background-color: $primary-color;
        border-radius: 10px;
        padding: 20px 0;
        @include desktop{
            padding: 100px 0;
        }
        img{
            width: 300px;
        }
        h1{
            margin-bottom: 20px;
        }
        .login-content{
            text-align: center;
            form{
                .alert-danger{
                    display: none;
                    padding: 5px;
                }
                .form-control{
                    padding: 10px;
                    margin-bottom: 10px;
                }
            }
            ul{
                li{
                    a{
                        color: $dark_mode-primary-color;
                    }
                }
                li:first-child{
                    margin: 20px 0 10px 0;
                }
            }
        }
    }
}

// ============================
//        Annotation
// ============================
.annotations-header{
    height: 80px;
    width: 100%;
    background-color: $secundary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 0 15px;
    h2{
        line-height: 80px;
        a{
            color: #000;
        }
    }
    .btn-success{
        width: 100px;
        margin-left: 15px;
    }
    .bi-gear{
        cursor: pointer;
        color: #000;
    }
}

.annotations{
    margin: 50px auto 100px auto;
    h1{
        text-align: center;
        margin-bottom: 50px;
    }
    .annotation{
        width: 100%;
        .annotation-header{
            padding: 0 10px;
            background-color: $secundary-color;
            border-radius: 10px 10px 0 0;
            height: 80px;
            line-height: 80px;
            display: flex;
            justify-content: space-between;
            font:{
                size: 20px;
                weight: bold;
            }
            p{
                width: 90%;
                overflow: scroll;
            }
            ul{
                display: flex;
                li{
                    font-size: 25px;
                    cursor: pointer;
                }
                .bi-trash{
                    margin-right: 15px;
                }
            }
        }
        .annotation-main{
            height: 300px;
            padding: 20px;
            background-color: rgba(175, 211, 222, 0.15);
            border-radius: 0 0 10px 10px;
            font-size: 20px;
        }
    }
   .search-annotations{
       width: 100%;
       display: flex;
       justify-content: center;
       margin-bottom: 50px;
       input{
           width: 90%;
           max-width: 450px;
           padding: 12px;
           border-radius: 5px 0 0 5px;
           border: 1px solid #000;
       }
       .bi-search{
           height: 50px;
           padding: 10px;
           color: $primary-color;
           background-color: green;
           border: none;
           border-radius: 0 5px 5px 0;
       } 
    }
}

#no-annotations{
    display: none;
	margin: 50px auto;
	text-align: center;
    img{
		width: 400px;
    }
	h3{
		padding-bottom: 10px;
	}
}

// ============================
//        Annotation detail
// ============================
.annotation-detail{
    margin-top: 50px;
    text-align: center;
    .no-annotation{
        @extend #no-annotations
    }
    .container{
        max-width: 800px;
        p{
            font-size: 20px;
        }
        a{
            @extend p
        }
    }
}

// ============================
//        Menu
// ============================
.menu{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        margin-bottom: 20px;
    }
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            width: 100%;
            max-width: 700px;
            margin-bottom: 20px;
            background-color: #677880;
            padding: 15px;
            border-radius: 10px;
            color: $primary-color;
            font-size: 20px;
        }
    }
}


// ============================
//        Annotation Form
// ============================
.annotation-form{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    h1{
        margin-bottom: 30px;
    }
    form{
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        input{
            margin-bottom: 10px;
            padding: 10px;
        }
        textarea{
            margin-bottom: 10px;
        }
    }
    a{
        font-size: 20px;
    }
}

// ============================
//        Delete
// ============================
.delete{
    text-align: center;
    margin-top: 50px;
    h1{
        margin-bottom: 30px;
    }
    input{
        background-color: red;
        color: $primary-color;
        padding: 10px 15px 10px 15px;
        border: none;
        border-radius: 5px;
        margin-right: 30px;
        &:hover{
            box-shadow: $btn-animation;
        }
    }
    a{
        font-size: 20px;
    }
}


// ============================
//        Dark Mode
// ============================
.dark-mode{
    background-color: $dark_mode-primary-color;
    color: $primary-color;
    svg{
        color: $dark_mode-primary-color;
    }
    .cards{
        .card{
            background-color: $secundary-color;
        }
    }
    main{
        .cookies-alert{
            background-color: $dark_mode-primary-color;
            box-shadow: $secundary-color 0px 5px 15px;

        }
        .btn-theme{
            color: $primary-color;
        }
    }
    footer{
        %color{
            color: $primary-color;
        }
        .form-control::placeholder{
            @extend %color;
        }
        input[type="submit"]{
            @extend %color;
        }
    }
    .login{
        background: linear-gradient(-135deg, $secundary-color, #625F5F);
        &-contents{
            background-color: $dark_mode-primary-color;
            ul{
                li{
                    a{
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .annotations-header{
        .bi-gear{
            color: $primary-color;
        }
        h2{
            a{
                color: $primary-color;
            }
        }
    }
}
